.scaffoldForm {
  position: relative;
  width: 100vw;
  height: calc(100vh - 160px);

  .content {
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .scaffoldTemplateIframe {
      height: 100%;
      max-width: 96%;
    }

    .drawerBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: -30px;
      height: 40px;
      width: 40px;
      cursor: pointer;
      background: $color-brand1-6;
    }

    .config {
      width: 300px;
      height: 100vh;
    }
  }

  .action {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
