.container {
  margin: 50px auto 10px;
  width: 80%;
  :global {
    .next-form-item-label {
      color: $color-text1-4;
      font-size: 14px;
    }
  }
}

.loading {
  width: 100%;
  height: 80vh;
}
