# 忽略目录
build/
tests/
demo/
.ice/
def-login-client/

# node 覆盖率文件
coverage/
node_modules
extensions/*/build/
.vscode-test
packages/*/lib/
packages/*/es/
packages/*/build/
app/main_dist/
app/build/
tmp
.tmp
__mocks__

# 忽略文件
**/*-min.js
**/*.min.js
