.cardContent {
  margin: 20px auto 24px;

  .step {
    width: 100%;
    padding: 0 !important;
    margin-bottom: 22px;
  }
  .content,
  .actions {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    margin: 5px auto 10px;
  }
}
.btn {
  margin-right: 5px;
}
