.cardContent {
  margin: 40px auto 24px;

  .step {
    width: 100%;
    margin-left: -40px;
  }
  .content,
  .actions {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    width: 75vw;
    margin: 60px auto 10px;
  }
}
.btn {
  margin-right: 5px;
}
