@font-face {
  font-family: 'header-icon';  /* project id 2237611 */
  src: url('//at.alicdn.com/t/font_2237611_lncmsa91ew.eot');
  src: url('//at.alicdn.com/t/font_2237611_lncmsa91ew.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2237611_lncmsa91ew.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2237611_lncmsa91ew.woff') format('woff'),
    url('//at.alicdn.com/t/font_2237611_lncmsa91ew.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2237611_lncmsa91ew.svg#iconfont') format('svg');
}
