@font-face {
  font-family: 'header-icon';  /* project id 2237611 */
  src: url('//at.alicdn.com/t/font_2237611_o2eo11vfs3.eot');
  src: url('//at.alicdn.com/t/font_2237611_o2eo11vfs3.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2237611_o2eo11vfs3.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2237611_o2eo11vfs3.woff') format('woff'),
    url('//at.alicdn.com/t/font_2237611_o2eo11vfs3.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2237611_o2eo11vfs3.svg#iconfont') format('svg');
}
