.scaffoldLayout {
  width: 100%;

  .setting {
    margin: 0 0 10px 20px;
    min-height: 60px;

    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      margin-top: 10px;
    }
  }
}

.dialog {
  left: 15% !important;
}
