.container {
  height: 40px;
  background: #35363a;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // padding: 0 30% 0 30%;
}

.delimiter {
  height: 1px;
  background: #050505;
  width: 100%;
}

.toolbar {
  width: 450px;
  display: flex;
  height: 39px;
}

.pixelsContainer {
  margin: auto;
}

.selector {
  margin: auto;
  background: rgba(0,0,0,0%);
}

.iconReverse {
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: "\e64d";
  }
}

.Reverse {
  position: relative;
  margin: -14px;
}

.pixelsInput {
  margin: 0 20px 0 20px;
  border: 0 ;
  background: rgba(0,0,0,0%);
  width: 50px;
  color: white;
  outline: none;
}

.pixelsContainer > input :focus {
  background: rgba(0,0,0,0%);
}

.ratio {
  font-size: 5px;
  color: white;
}