.successIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  border: 1px solid $color-fill1-4;
  margin: 0 10px 20px 10px;
  cursor: pointer;
  position: relative;
  background-color: white;

  :global {
    .next-card-header {
      margin: 10px 0;
      background-color: white;
      .next-card-header-title {
        color: black;
      }
    }
    .next-card-content-container {
      padding-bottom: 10px;
      margin-top: 10px;
    }
  }

  .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    opacity: 0;

    .content {
      margin: 100px 20px 0;
      width: 100%;
      user-select: none;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  &:hover .mark {
    opacity: 0.9;
  }

  .media {
    background-size: contain;
  }
}

.active {
  border: 1px solid $color-notice-3;
}
