body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.fddescription {
  font-size: 12px;
  color: rgba(204, 204, 204, 0.9);
}
h3 {
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 16px;
  color: #e7e7e7;
}
a {
  font-size: 10px;
  text-decoration: underline;
}
a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.panel-body {
  display: none;
}
