.form {
  width: 400px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
}

.help {
  font-size: 12px;
}
.action {
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
}
