.container {
  .step {
    width: 90vw;
    margin: 20px auto 24px;

    .content,
    .actions {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .content {
      align-items: center;
    }
  }
}
