.container {
  h2 {
    a {
      float: right;
      color: $color-text1-4;
      font-size: 14px;
    }
  }

  .main {
    margin-top: 12px;

    h3 {
      margin: 0;
      font-weight: 400;
    }

    .description {
      margin-top: 6px;
      font-size: 14px;
      color: $color-text1-2;
    }

    ul {
      padding-left: 18px;

      li {
        margin-bottom: 6px;
        strong {
          font-weight: 400;
        }
        a {
          color: $color-text1-4;
        }
      }
    }
  }
}
