.container {
  .main {
    margin-top: 12px;
    ul {
      padding-left: 18px;

      li {
        :global {
          .next-icon {
            cursor: pointer;
          }
        }
      }
    }
  }
}
