.container {
  width: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 200px);

    .scaffoldsSource {
      width: 180px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .scaffolds {
      width: calc(100% - 170px);
      overflow-y: auto;
      .mainScaffolds {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 10px;
      }

      .collapse {
        width: 100%;
        border: none;
        :global {
          .next-collapse-panel-expanded > .next-collapse-panel-content {
            padding: 12px 0;
          }
          .next-collapse-panel-title:hover {
            background: $color-brand1-1;
          }
        }
        .otherScaffolds {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
    }
  }

  .action {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.userSelect {
  user-select: none;
}

.cardTitle {
  margin-left: 5px;
}

.cardProjectType {
  vertical-align: middle;
}
