.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: flex-start;

    .scaffoldsSource {
      width: 180px;
      height: 100%;
    }
    .scaffolds {
      height: 500px;
      overflow: scroll;
      width: calc(100% - 180px);
      .mainScaffolds {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 10px;
        min-width: 300px;
      }
      .collapse {
        width: 100%;
        border: none;
        :global {
          .next-collapse-panel-expanded > .next-collapse-panel-content {
            padding: 12px 0;
          }
          .next-collapse-panel-title:hover {
            background: $color-brand1-1;
          }
        }
        .otherScaffolds {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
    }
  }

  .action {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.userSelect {
  user-select: none;
}

.cardTitle {
  margin-left: 5px;
}

.cardProjectType {
  vertical-align: middle;
}
