.container {
  .header {
    .materialTab {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;

      :global {
        .next-tabs-nav-scroll {
          display: flex;
          justify-content: center;
        }
      }
    }
    .searchInput {
      display: flex;
      justify-content: center;
      align-items: center;

      .input {
        width: 100%;
      }

      .searchInputIcon {
        margin: 4px;
        cursor: pointer;
      }
    }
  }
}
