.container {
  .header {
    height: 70px;
    display: flex;
    align-items: center;

    .materialTab {
      :global {
        .next-tabs-nav-scroll {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
