.container {
  width: 90%;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: flex-start;

    .materialScaffold {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: 30px;
      min-width: 500px;
    }
  }

  .action {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.userSelect {
  user-select: none;
}
