.wrap {
  overflow: hidden;
  padding: 20px;

  .row {
    height: 100%;
    .col {
      height: 100%;
    }
  }
  .opts {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blockIsDraging {
  z-index: 99999;
  overflow: hidden;

  img {
    width: 500px;
  }
}
