.wrap {
  overflow: hidden;
  padding: 20px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;

  .list {
    overflow: hidden;

    .item {
      margin-bottom: 24px;
      .label {
        margin-bottom: 12px;
      }
      .pageNameInput {
        width: 400px;
      }
      .row {
        height: 560px;
        .col {
          height: 100%;
        }
      }
    }
  }

  .opts {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blockIsDraging {
  z-index: 99999;
  overflow: hidden;

  img {
    width: 500px;
  }
}
