.container {
  position: relative;
  flex: 1;
  background-color: #fafafa;
  min-height: calc(100vh);
}

iframe ::-webkit-scrollbar {
  display: none;
}

.frame {
  position: relative;
  border: none;
  background: white;
  box-shadow: 0 0 16px gray;
  width: 100%;
  height: 100%;
}

.frameContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.iframeWrapper {
  position: relative;
}
