.successIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card {
  border: 1px solid $color-fill1-4;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  :global {
    .next-card-header {
      margin: 10px 0;
    }
    .next-card-content-container {
      padding-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.active {
  border: 1px solid $color-notice-3;
}
