.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  position: relative;

  .content {
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 200px);

    .scaffoldsSource {
      width: 200px;
      overflow-y: auto;
      position: relative;

      .refreshBtn {
        position: absolute;
        top: 0;
        right: 25px;
      }

      .addSource {
        margin: 10px;

        .btn {
          width: 160px;
        }
      }
    }

    .scaffolds {
      width: calc(100% - 170px);
      overflow-y: auto;
      margin-left: 10px;

      .materialSourceDescription {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      .loading {
        width: 100%;
        height: 90%;
      }

      .mainScaffolds {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }

  .action {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.cardTitle {
  display: inline-flex;

  img {
    margin-right: 5px;
    vertical-align: baseline;
  }
  div {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
