.scaffoldLayout {
  margin-top: 20px;
  width: 100%;

  .topNavSetting,
  .asideNavSetting,
  .footerSetting {
    margin: 16px 0 0 20px;

    .options {
      margin: 10px 0 0 20px;
    }

    .tree {
      margin: 5px 0 0 20px;
    }
  }
}
