.information {
  margin-top: 30px;
  width: 1000px;

  .title {
    font-size: 20px;
  }

  .cardList {
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

    .cardItem {
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }
}
