@import '~@alifd/next/lib/core/index.scss';

.container {
  position: relative;
  transition: transform 0.3s ease;
  display: block;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  height: 120px;
  padding: 5px 20px;
  margin-bottom: 24px;
  background-color: #252422;
  &:hover {
    text-decoration: none;
    transform: translateY(-6px);
    .actions {
      transform: translateY(0);
    }
  }

  &.selected {
    border-color: $color-line1-3;
  }
}

.title {
  margin: 0;
  padding: 10px 0;
}

.desc {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $color-text1-2;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease;
  transform: translateY(100%);
  z-index: 10;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    background: $color-fill1-3;
    color: $color-text1-4;
    cursor: pointer;

    &:hover {
      background-color: $color-fill1-4;
    }

    .githubImg,
    .eyeImg,
    .downloadImg {
      width: 20px;
      margin-right: 6px;
    }
  }
}
