@import '~@alifd/next/lib/core/index.scss';

.container {
  transition: transform 0.3s ease;
  display: block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 5px 20px;
  margin-bottom: 24px;
  background-color: #252422;
  &:hover {
    text-decoration: none;
    transform: translateY(-6px);
    .actions {
      transform: translateY(0);
    }
  }

  &.selected {
    border-color: $color-line1-3;

    .selectedIcon {
      position: absolute;
      top: 6px;
      right: 6px;
      border: 1px solid $color-line1-3;
      border-radius: 50%;
      padding: 4px;
    }
  }
}

.screenshot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  transition: all 0.3s ease;

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

.title {
  margin: 0;
  padding: 10px 0;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease;
  transform: translateY(100%);
  z-index: 10;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    background: $color-fill1-3;
    color: $color-text1-4;
    cursor: pointer;

    &:hover {
      background-color: $color-fill1-4;
    }

    .githubImg,
    .eyeImg,
    .downloadImg {
      width: 20px;
      margin-right: 6px;
    }
  }
}
