@import '~@alifd/next/lib/core/index.scss';

.spin {
  width: 100%;
  height: 100%;

  :global(.next-loading-wrap) {
    height: 100%;
  }

  .head {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .empty {
    font-size: 14px;
    text-align: center;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;

  .operation {
    margin: 0 12px;

    > span {
      margin-top: 12px;
      width: 100%;
    }

    span:nth-of-type(1) {
      margin-top: 0;
    }

    :global(.next-search) {
      width: 100%;
    }
  }
  .content {
    margin: 0 12px;
    margin-top: 18px;
    border: 1px solid $color-line1-3;
    border-radius: 2px;
    padding: 6px;
    flex: 1;
    overflow: hidden;

    .scroll {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;

      // IDE 里面有默认样式，这里重写
      &::-webkit-scrollbar {
        width: 3px;
        display: block;
      }

      .category {
        .name {
          margin-bottom: 18px;
        }

        .list {
          padding: 0 12px;
        }
      }
    }
  }
}
