.scoreBoard {
  transition: all 0.2s ease-in;
}

.scoreBoard-base {
  font-size: 20px !important;
  width: 65px !important;
  height: 65px !important;
}

.scoreBoard-small {
  font-size: 12px !important;
  width: 38px !important;
  height: 38px !important;
}
