.container {
  padding: 20px;
  background-color: $color-fill1-1;
  word-break: break-all;
}

.title {
  color: $color-text1-4;
  font-size: 36px;
  line-height: 30px;
}

.description {
  color: $color-text1-2;
  font-size: 14px;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid $color-line1-3;
  padding: 12px 0;
}

.info {
  min-width: 100px;
  margin: 6px 6px 6px 0;
}

.label {
  font-size: 12px;
  color: $color-text1-3;
}

.detail {
  font-size: 18px;
  color: $color-text1-4;

  &:visited {
    color: $color-link-3;
  }
}
