.form {
  width: 400px;
  margin: 40px auto 24px;

  .folderIcon {
    cursor: pointer;
    margin-right: 28px;
    width: 22px;
    height: 22px;
  }

  .action {
    margin-top: 15px;
    width: 400px;
    display: flex;
    justify-content: center;
  }
}

.errorMsg {
  width: 400px;
  font-size: 13px;
  color: red;
}
