.form {
  width: 400px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
}
.tip {
  margin-bottom: 20px;
}

.help {
  font-size: 12px;
}

.action {
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.btn {
  &:hover {
    color: $color-notice-4 !important;
  }
}

.errorMsg {
  width: 400px;
  font-size: 13px;
  color: red;
}
